.Box {
    width: 300px;
    padding: 40px 0;
    overflow: hidden;
    position: relative;
    text-align: center;
   
}

.Card {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    box-shadow: 0 0 6px #1bf00833;
    border: 1.5px solid #371046;
    border-radius: 10px;
}

.Card__header {
    display: flex;
    justify-content: center;
    color:  #15e215;
    font-size: 25px;
}

.Card__Info {
    font-size: 14px;
    display: flex;
    justify-content: space-around;
    color: #371046;
    padding: 10px;
}
.Card__Media {
    width: 20%;
    object-fit: cover;
    border-radius: 10px 0 0 10px;
}

.Card__Footer {
    display: flex;
    justify-content: center;
}

.Card__btn{
    display: flex;
    background: linear-gradient(180deg, #15e215 0%, #207e20 100%);
    border-radius: 6px;
    text-decoration: none;
    width: 80%;
    color: #371046;
    font-weight: 700;
    padding: 0 5px 5px;
    position: absolute;
    text-align: center;
    justify-content: center;
    margin: auto;
}